.switchTabs{
  gap:15px;
margin:20px 0;

  & button{
    padding: 10px;

    font-size: var(--font-size-m);
    color: var(--color-light-500);

  background-color: var(--color-dark-900);
border:none;
    border-radius: 5px;

transition: 0.3s;

    &:first-child{
      margin-right: 5px;
    }

    &:hover{
      cursor: pointer;
      background-color: var(--color-dark-700);
    }
  }

& .active{
  background-color: var( --color-dark-500);
}
}

.projectsWrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;

  width: 100%;
  min-height: 650px;
  margin: 10px auto;

  color: var(--color-light-300);

  &::after{
    content: '';

    position: absolute;
    bottom: 0;
    left: -50%;

    display: flex;

    width: 200%;
    height: 2px;

    background-color: var(--color-light-300);
  }


  a {
    padding: 10px;
    border-bottom: 1px solid var(--color-light-300);
    border-radius: 5px;
  }
}

.projectItem {
  cursor: pointer;

  display: flex;
  flex-direction: column;

  color: white;
  text-decoration: none;

  h3 {
    font-size: 28px;
  }

  span{
    text-align: justify;
    text-align-last: left;
  }
}

.previewContainer {
  pointer-events: none;

  position: fixed;
  z-index: -1;

  overflow: hidden;

  width: 320px;
  height: 360px;

  perspective: 800px;
  border-radius: 12px;
}

.previewCard {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;

  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
filter:brightness(50%);
}

