.mouseProvider {
  width: fit-content;
  perspective: 1000px;
}

.cardBody {
  position: relative;
  transform-style: preserve-3d; 
  width: 350px;
  height: 350px;
}

.profileImage {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 20px 50px rgb(0 0 0 / 20%);
}
