:root {
  --color-dark-900: #003b46;
  --color-dark-700: #07575b;
  --color-dark-500: #66a5ad;
  --color-dark-300: #95c7d4;
  --color-light-900: #f18d9e;
  --color-light-700: #f0c7c0;
  --color-light-500: #f7f0d7;
  --color-light-300: #C4DFE6;
}
