@forward 'colors.';
@forward 'typography';

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 60px;

  background-color: black;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}
