.infoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0;

  color: var(--color-dark-700);

  & > div:first-child {
    width: 650px;
    height: 150px;
    font-size: 64px;
  }
}

.about {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 20px 0 40px;

  font-size: var(--font-size-m-large);
  color: var(--color-dark-900);

  & p {
    font-size: var(--font-size-large);
  }

  & span {
    font-weight: 700;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;

  .typewriter {
    color: var(--color-dark-700);
  }

  .cursor {
    display: inline-block;
    margin-left: 4px;
    animation: blink 0.7s infinite;
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}