.container {
  position: relative;
  transform-style: preserve-3d;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 200ms ease;
}

.container.hovered {
  transition: transform 0.5s ease;
}