.infoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0;

  font-size: 64px;
  color: var(--color-dark-700);

  & div:first-child{
    width: 650px;
    height:150px;
  }

  & img {
    border-radius: 5px;
  }
}

.about {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 20px 0 ;

  font-size: var(--font-size-m-large);
  color: var(--color-dark-900);

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: -100dvw;

    width: 200dvw;
    height: 1px;

    border-bottom: 2px solid var(--color-dark-300);
  }

  & h2 {
    margin: 20px 0;
    font-size: var(--font-size-large);
    color: var(--color-light-300);
    text-align: start;
  }

  & span {
    font-weight: 700;
  }
}
