.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;

  max-width: 432px;
  height: 60px;

  background-color: var(--color-dark-900);
  border-radius: 12px;

  & a {
    font-size: var(--font-size-s);
    color: var(--color-light-500);
  }
}
