.footerWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 20px 0 0;

  font-size: var(--font-size-xl);
  color: var(--color-light-300);

  & span {
    font-size: var(--font-size-xs);
  }

  & .navLinks {
    display: flex;
    gap: 10px;
    place-content: center center;
    align-items: center;


    & a {
flex:1;

      padding: 5px;

text-align: center;

      background-color: var(--color-dark-700);
      border-radius: 5px;

transition: 0.2s;

      &:hover{
        cursor: pointer;
        background-color: var(--color-dark-500);
      }
    }
  }

  & .socialLinks {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
  }
}
