.contactBlock {
  position: relative;

  display: flex;
  gap: 50px;

  margin-top: 20px;

  color: white;

  & .touchBlock {
    & h5 {
      font-size: var(--font-size-large);
    }

    & span {
      display: flex;
      font-size: var(--font-size-small);
      text-align: justify;
    }
  }

  & .messageStyle {
    width: 100%;
    height: 100px;
  }

  & .formSide {
    display: flex;
    flex-direction: column;

    & div {
      display: flex;
      margin-right: 10px;
    }
  }

  & button {
    width: 80px;
    height: 40px;

    font-size: var(--font-size-m);
    color: var(--color-light-500);

    background-color: var(--color-dark-900);
    border: none;
    border-radius: 5px;

    transition: 0.3s;

    &:first-child {
      margin-right: 5px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-dark-700);
    }
  }
}
